@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');
@import "tailwindcss";

body {
    background-color: #121212;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
  }


* {
    font-family: 'Outfit', sans-serif;
}

@keyframes glow {
  0%, 100% { text-shadow: 0 0 5px #00FFFF, 0 0 10px #00FFFF; }
  50% { text-shadow: 0 0 10px #00FFFF, 0 0 20px #00FFFF; }
}

@keyframes glow-button {
  0%, 100% { box-shadow: 0 0 5px #00FFFF; }
  50% { box-shadow: 0 0 15px #00FFFF; }
}

.animate-glow {
  animation: glow 2s infinite;
}

.animate-glow-button {
  animation: glow-button 1.5s infinite;
}

.animate-slide-up {
  animation: slide-up 0.5s ease-out;
}

@keyframes slide-up {
  from { transform: translateY(20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
